# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production

# next build
.next/

# build folders
dist/
build/

# logs
*.log

# OS files
.DS_Store
Thumbs.db